mat-grid-list {
  background: #dce2fd;
}
.heroText {
  margin-left: 1%;
}
.primary {
  color: #3f51b5;
  flex: 1 1 auto;
}
.secondary {
  color: rgb(129, 142, 197);
}
.HeroImage {
  object-fit: contain;
  height: 100%;
}
